.home-page {
  line-height: 1.5;
  height: 100vh;
  .container-fluid {
    height: 100%;
    .row {
      height: inherit;
    }
  }
  .search-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .header-hero {
    color: #fff;
    font-size: 40px;
    margin-bottom: 36px;
    font-weight: bold;
  }
}
