@import './style/normalize';
@import './style/flexboxgrid';
@import './style/fonts';
@import './style/var';
@import './style//colors';
@import './style/mixin';
@import './icons/bootstrap-icons';

body {
  font-family: $font-second;
  background-color: #36363a;
}
.safe-area {
  padding: 16px;
  box-sizing: border-box;
}
